In [2]:
import pandas as pd
import io
import datetime
from urllib.request import urlopen
import matplotlib.pyplot as plt
import plotly.express as px
from urllib import request
import json
import warnings
import numpy as np
import seaborn as sns

In [3]:
url = 'https://raw.githubusercontent.com/maxsohl/GSB521FinalProj/main/ufo_sightings_scrubbed.csv'
warnings.filterwarnings('ignore')
df = pd.read_csv(url)

In [4]:
us_df = df.loc[df["country"] == "us"]

In [5]:
us_df['datetime'] = pd.to_datetime(us_df['datetime']) #convert to datetime data type
us_df['date'] = us_df['datetime'].dt.date #seperate into two columns
us_df['time'] = us_df['datetime'].dt.time
pd.to_datetime(us_df['date'])
us_df['year'] = us_df['date'].apply(lambda x: x.strftime('%Y'))
us_df['year'] = us_df['year'].astype(int)
year_to_filter = 2000
us_df_2000 = us_df[us_df['year'] > year_to_filter]
us_df_2000

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,date,time,year
102,2001-10-10 03:00:00,rockwell city,ia,us,triangle,240,4 min.s,Large&#44silent&#44slow&#44low to the ground d...,2002-07-01,42.3952778,-94.633611,2001-10-10,03:00:00,2001
105,2001-10-10 20:35:00,hayward,ca,us,circle,120,2/min.,FALLING STAR STOPS &#39SHOTS OUT DOZENS OF ...,2001-11-20,37.6688889,-122.079722,2001-10-10,20:35:00,2001
106,2001-10-10 21:15:00,ottumwa,ia,us,rectangle,300,3-5 minutes,We saw a square object at night&#44 which had...,2001-11-20,41.0041667,-92.373611,2001-10-10,21:15:00,2001
107,2001-10-10 21:30:00,fresno,ca,us,changing,900,15 min. apprx,Objects were sighted driving north on Highway ...,2001-11-20,36.7477778,-119.771389,2001-10-10,21:30:00,2001
108,2001-10-10 22:00:00,phoenix,az,us,triangle,60,less then a minute,Triangle shaped craft spotted flying west to e...,2001-11-20,33.4483333,-112.073333,2001-10-10,22:00:00,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80327,2013-09-09 21:15:00,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.165833,-86.784444,2013-09-09,21:15:00,2013
80328,2013-09-09 22:00:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.613611,-116.202500,2013-09-09,22:00:00,2013
80329,2013-09-09 22:00:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,2013-09-30,38.297222,-122.284444,2013-09-09,22:00:00,2013
80330,2013-09-09 22:20:00,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.901111,-77.265556,2013-09-09,22:20:00,2013
80331,2013-09-09 23:00:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.652778,-97.477778,2013-09-09,23:00:00,2013

### Import county dataset and merge with alien data

source: https://public.opendatasoft.com/explore/dataset/geonames-all-cities-with-a-population-1000/table/?disjunctive.cou_name_en&sort=name

In [6]:
url = 'https://raw.githubusercontent.com/maxsohl/GSB521FinalProj/main/city_county.csv'
city_county = pd.read_csv(url)
city_county

      state                       city          county
0        ak                       adak  aleutians west
1        ak                   akiachak          bethel
2        ak                      akiak          bethel
3        ak                     akutan  aleutians east
4        ak                   alakanuk        kusilvak
...     ...                        ...             ...
29875    wy                    worland        washakie
29876    wy                     wright        campbell
29877    wy                     wyarno        sheridan
29878    wy  yellowstone national park            park
29879    wy                      yoder          goshen

[29880 rows x 3 columns]

In [7]:
merged_df = pd.merge(us_df_2000, city_county, on= ['city','state'], how = 'left')
merged_df.dropna(subset=['county'], inplace=True)
merged_df

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,date,time,year,county
0,2001-10-10 03:00:00,rockwell city,ia,us,triangle,240,4 min.s,Large&#44silent&#44slow&#44low to the ground d...,2002-07-01,42.3952778,-94.633611,2001-10-10,03:00:00,2001,calhoun
1,2001-10-10 20:35:00,hayward,ca,us,circle,120,2/min.,FALLING STAR STOPS &#39SHOTS OUT DOZENS OF ...,2001-11-20,37.6688889,-122.079722,2001-10-10,20:35:00,2001,alameda
2,2001-10-10 21:15:00,ottumwa,ia,us,rectangle,300,3-5 minutes,We saw a square object at night&#44 which had...,2001-11-20,41.0041667,-92.373611,2001-10-10,21:15:00,2001,wapello
3,2001-10-10 21:30:00,fresno,ca,us,changing,900,15 min. apprx,Objects were sighted driving north on Highway ...,2001-11-20,36.7477778,-119.771389,2001-10-10,21:30:00,2001,fresno
4,2001-10-10 22:00:00,phoenix,az,us,triangle,60,less then a minute,Triangle shaped craft spotted flying west to e...,2001-11-20,33.4483333,-112.073333,2001-10-10,22:00:00,2001,maricopa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55912,2013-09-09 21:15:00,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.165833,-86.784444,2013-09-09,21:15:00,2013,davidson
55914,2013-09-09 22:00:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.613611,-116.202500,2013-09-09,22:00:00,2013,ada
55915,2013-09-09 22:00:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,2013-09-30,38.297222,-122.284444,2013-09-09,22:00:00,2013,napa
55916,2013-09-09 22:20:00,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.901111,-77.265556,2013-09-09,22:20:00,2013,fairfax
55917,2013-09-09 23:00:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.652778,-97.477778,2013-09-09,23:00:00,2013,oklahoma

### Import EducationByCounty and merge with df

In [20]:
url = 'https://raw.githubusercontent.com/maxsohl/GSB521FinalProj/main/EducationByCounty.csv'
education = pd.read_csv(url)

In [19]:
education['state'] = education['State'].str.lower()
education['county'] = education['Area name'].str.lower()

In [15]:
#to match merged_df with education add county after every county name in merged_df
def add_county(word):
    return f"{word} county"

merged_df['county'] = merged_df['county'].apply(add_county)

In [17]:
education_merged_df = pd.merge(merged_df, education, on= ['county','state'], how = 'left')

In [18]:
education_merged_df

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,...,"Percent of adults completing some college or associate's degree, 2008-12","Percent of adults with a bachelor's degree or higher, 2008-12","Less than a high school diploma, 2017-21","High school diploma only, 2017-21","Some college or associate's degree, 2017-21","Bachelor's degree or higher, 2017-21","Percent of adults with less than a high school diploma, 2017-21","Percent of adults with a high school diploma only, 2017-21","Percent of adults completing some college or associate's degree, 2017-21","Percent of adults with a bachelor's degree or higher, 2017-21"
0,2001-10-10 03:00:00,rockwell city,ia,us,triangle,240,4 min.s,Large&#44silent&#44slow&#44low to the ground d...,2002-07-01,42.3952778,...,34.5,19.1,423,"2,695","2,458","1,477",6.0,38.2,34.9,20.9
1,2001-10-10 20:35:00,hayward,ca,us,circle,120,2/min.,FALLING STAR STOPS &#39SHOTS OUT DOZENS OF ...,2001-11-20,37.6688889,...,25.6,41.1,"131,272","198,825","271,096","592,670",11.0,16.7,22.7,49.6
2,2001-10-10 21:15:00,ottumwa,ia,us,rectangle,300,3-5 minutes,We saw a square object at night&#44 which had...,2001-11-20,41.0041667,...,31.0,15.4,"2,885","8,786","7,765","4,586",12.0,36.6,32.3,19.1
3,2001-10-10 21:30:00,fresno,ca,us,changing,900,15 min. apprx,Objects were sighted driving north on Highway ...,2001-11-20,36.7477778,...,30.7,19.4,"136,835","140,532","201,826","140,183",22.1,22.7,32.6,22.6
4,2001-10-10 22:00:00,phoenix,az,us,triangle,60,less then a minute,Triangle shaped craft spotted flying west to e...,2001-11-20,33.4483333,...,33.5,29.5,"326,737","644,940","950,635","1,006,096",11.2,22.0,32.5,34.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50853,2013-09-09 21:15:00,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.165833,...,26.3,35.0,"48,693","104,797","120,227","218,762",9.9,21.3,24.4,44.4
50854,2013-09-09 22:00:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.613611,...,36.2,35.3,"16,433","68,936","110,566","134,694",5.0,20.8,33.4,40.7
50855,2013-09-09 22:00:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,2013-09-30,38.297222,...,32.0,31.2,"14,541","17,698","29,842","36,464",14.8,18.0,30.3,37.0
50856,2013-09-09 22:20:00,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.901111,...,20.1,58.2,"51,874","96,148","137,108","496,667",6.6,12.3,17.5,63.5
50857,2013-09-09 23:00:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.652778,...,31.1,29.3,"59,864","127,327","155,471","174,202",11.6,24.6,30.1,33.7