In [ ]:
pip install folium

In [ ]:
pip install folium --upgrade

In [ ]:
pip install uszipcode

In [1]:
import pandas as pd
import io
import datetime
from urllib.request import urlopen
import matplotlib.pyplot as plt
import plotly.express as px
from urllib import request
import json
import warnings
import numpy as np
import seaborn as sns
import uszipcode
from uszipcode import SearchEngine
import folium
from folium.plugins import HeatMap

/Users/max/opt/anaconda3/lib/python3.8/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
url = 'https://raw.githubusercontent.com/maxsohl/GSB521FinalProj/main/ufo_sightings_scrubbed.csv'
warnings.filterwarnings('ignore')
df = pd.read_csv(url)

In [3]:
us_df = df.loc[df["country"] == "us"]

In [4]:
us_df['datetime'] = pd.to_datetime(us_df['datetime']) #convert to datetime data type
us_df['date'] = us_df['datetime'].dt.date #seperate into two columns
us_df['time'] = us_df['datetime'].dt.time
pd.to_datetime(us_df['date'])
us_df['year'] = us_df['date'].apply(lambda x: x.strftime('%Y'))
us_df['year'] = us_df['year'].astype(int)
year_to_filter = 2000
us_df_2000 = us_df[us_df['year'] > year_to_filter]
us_df_2000

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,date,time,year
102,2001-10-10 03:00:00,rockwell city,ia,us,triangle,240,4 min.s,Large&#44silent&#44slow&#44low to the ground d...,2002-07-01,42.3952778,-94.633611,2001-10-10,03:00:00,2001
105,2001-10-10 20:35:00,hayward,ca,us,circle,120,2/min.,FALLING STAR STOPS &#39SHOTS OUT DOZENS OF ...,2001-11-20,37.6688889,-122.079722,2001-10-10,20:35:00,2001
106,2001-10-10 21:15:00,ottumwa,ia,us,rectangle,300,3-5 minutes,We saw a square object at night&#44 which had...,2001-11-20,41.0041667,-92.373611,2001-10-10,21:15:00,2001
107,2001-10-10 21:30:00,fresno,ca,us,changing,900,15 min. apprx,Objects were sighted driving north on Highway ...,2001-11-20,36.7477778,-119.771389,2001-10-10,21:30:00,2001
108,2001-10-10 22:00:00,phoenix,az,us,triangle,60,less then a minute,Triangle shaped craft spotted flying west to e...,2001-11-20,33.4483333,-112.073333,2001-10-10,22:00:00,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80327,2013-09-09 21:15:00,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.165833,-86.784444,2013-09-09,21:15:00,2013
80328,2013-09-09 22:00:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.613611,-116.202500,2013-09-09,22:00:00,2013
80329,2013-09-09 22:00:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,2013-09-30,38.297222,-122.284444,2013-09-09,22:00:00,2013
80330,2013-09-09 22:20:00,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.901111,-77.265556,2013-09-09,22:20:00,2013
80331,2013-09-09 23:00:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.652778,-97.477778,2013-09-09,23:00:00,2013

### Import county dataset and merge with alien data

source: https://public.opendatasoft.com/explore/dataset/geonames-all-cities-with-a-population-1000/table/?disjunctive.cou_name_en&sort=name

In [5]:
url = 'https://raw.githubusercontent.com/maxsohl/GSB521FinalProj/main/city_county.csv'
city_county = pd.read_csv(url)
city_county

      state                       city          county
0        ak                       adak  aleutians west
1        ak                   akiachak          bethel
2        ak                      akiak          bethel
3        ak                     akutan  aleutians east
4        ak                   alakanuk        kusilvak
...     ...                        ...             ...
29875    wy                    worland        washakie
29876    wy                     wright        campbell
29877    wy                     wyarno        sheridan
29878    wy  yellowstone national park            park
29879    wy                      yoder          goshen

[29880 rows x 3 columns]

In [6]:
merged_df = pd.merge(us_df_2000, city_county, on= ['city','state'], how = 'left')
merged_df.dropna(subset=['county'], inplace=True)
merged_df

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,date,time,year,county
0,2001-10-10 03:00:00,rockwell city,ia,us,triangle,240,4 min.s,Large&#44silent&#44slow&#44low to the ground d...,2002-07-01,42.3952778,-94.633611,2001-10-10,03:00:00,2001,calhoun
1,2001-10-10 20:35:00,hayward,ca,us,circle,120,2/min.,FALLING STAR STOPS &#39SHOTS OUT DOZENS OF ...,2001-11-20,37.6688889,-122.079722,2001-10-10,20:35:00,2001,alameda
2,2001-10-10 21:15:00,ottumwa,ia,us,rectangle,300,3-5 minutes,We saw a square object at night&#44 which had...,2001-11-20,41.0041667,-92.373611,2001-10-10,21:15:00,2001,wapello
3,2001-10-10 21:30:00,fresno,ca,us,changing,900,15 min. apprx,Objects were sighted driving north on Highway ...,2001-11-20,36.7477778,-119.771389,2001-10-10,21:30:00,2001,fresno
4,2001-10-10 22:00:00,phoenix,az,us,triangle,60,less then a minute,Triangle shaped craft spotted flying west to e...,2001-11-20,33.4483333,-112.073333,2001-10-10,22:00:00,2001,maricopa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55912,2013-09-09 21:15:00,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.165833,-86.784444,2013-09-09,21:15:00,2013,davidson
55914,2013-09-09 22:00:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.613611,-116.202500,2013-09-09,22:00:00,2013,ada
55915,2013-09-09 22:00:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,2013-09-30,38.297222,-122.284444,2013-09-09,22:00:00,2013,napa
55916,2013-09-09 22:20:00,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.901111,-77.265556,2013-09-09,22:20:00,2013,fairfax
55917,2013-09-09 23:00:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.652778,-97.477778,2013-09-09,23:00:00,2013,oklahoma

### Import EducationByCounty and merge with df

In [7]:
url = 'https://raw.githubusercontent.com/maxsohl/GSB521FinalProj/main/EducationByCounty.csv'
education = pd.read_csv(url)

In [8]:
education['state'] = education['State'].str.lower()
education['county'] = education['Area name'].str.lower()

In [9]:
#to match merged_df with education add county after every county name in merged_df
def add_county(word):
    return f"{word} county"

merged_df['county'] = merged_df['county'].apply(add_county)

In [10]:
education_merged_df = pd.merge(merged_df, education, on= ['county','state'], how = 'left')

In [11]:
education_merged_df

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,...,"Percent of adults completing some college or associate's degree, 2008-12","Percent of adults with a bachelor's degree or higher, 2008-12","Less than a high school diploma, 2017-21","High school diploma only, 2017-21","Some college or associate's degree, 2017-21","Bachelor's degree or higher, 2017-21","Percent of adults with less than a high school diploma, 2017-21","Percent of adults with a high school diploma only, 2017-21","Percent of adults completing some college or associate's degree, 2017-21","Percent of adults with a bachelor's degree or higher, 2017-21"
0,2001-10-10 03:00:00,rockwell city,ia,us,triangle,240,4 min.s,Large&#44silent&#44slow&#44low to the ground d...,2002-07-01,42.3952778,...,34.5,19.1,423,"2,695","2,458","1,477",6.0,38.2,34.9,20.9
1,2001-10-10 20:35:00,hayward,ca,us,circle,120,2/min.,FALLING STAR STOPS &#39SHOTS OUT DOZENS OF ...,2001-11-20,37.6688889,...,25.6,41.1,"131,272","198,825","271,096","592,670",11.0,16.7,22.7,49.6
2,2001-10-10 21:15:00,ottumwa,ia,us,rectangle,300,3-5 minutes,We saw a square object at night&#44 which had...,2001-11-20,41.0041667,...,31.0,15.4,"2,885","8,786","7,765","4,586",12.0,36.6,32.3,19.1
3,2001-10-10 21:30:00,fresno,ca,us,changing,900,15 min. apprx,Objects were sighted driving north on Highway ...,2001-11-20,36.7477778,...,30.7,19.4,"136,835","140,532","201,826","140,183",22.1,22.7,32.6,22.6
4,2001-10-10 22:00:00,phoenix,az,us,triangle,60,less then a minute,Triangle shaped craft spotted flying west to e...,2001-11-20,33.4483333,...,33.5,29.5,"326,737","644,940","950,635","1,006,096",11.2,22.0,32.5,34.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50853,2013-09-09 21:15:00,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.165833,...,26.3,35.0,"48,693","104,797","120,227","218,762",9.9,21.3,24.4,44.4
50854,2013-09-09 22:00:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.613611,...,36.2,35.3,"16,433","68,936","110,566","134,694",5.0,20.8,33.4,40.7
50855,2013-09-09 22:00:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,2013-09-30,38.297222,...,32.0,31.2,"14,541","17,698","29,842","36,464",14.8,18.0,30.3,37.0
50856,2013-09-09 22:20:00,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.901111,...,20.1,58.2,"51,874","96,148","137,108","496,667",6.6,12.3,17.5,63.5
50857,2013-09-09 23:00:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.652778,...,31.1,29.3,"59,864","127,327","155,471","174,202",11.6,24.6,30.1,33.7

In [12]:
print(education_merged_df.columns)

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)',
       'duration (hours/min)', 'comments', 'date posted', 'latitude',
       'longitude ', 'date', 'time', 'year', 'county',
       'Federal Information Processing Standard (FIPS) Code', 'State',
       'Area name', '2003 Rural-urban Continuum Code',
       '2003 Urban Influence Code', '2013 Rural-urban Continuum Code',
       '2013 Urban Influence Code', 'Less than a high school diploma, 1970',
       'High school diploma only, 1970', 'Some college (1-3 years), 1970',
       'Four years of college or higher, 1970',
       'Percent of adults with less than a high school diploma, 1970',
       'Percent of adults with a high school diploma only, 1970',
       'Percent of adults completing some college (1-3 years), 1970',
       'Percent of adults completing four years of college or higher, 1970',
       'Less than a high school diploma, 1980',
       'High school diploma only, 1980', 'Some college (1-3 years), 1980',
       'Four years of college or higher, 1980',
       'Percent of adults with less than a high school diploma, 1980',
       'Percent of adults with a high school diploma only, 1980',
       'Percent of adults completing some college (1-3 years), 1980',
       'Percent of adults completing four years of college or higher, 1980',
       'Less than a high school diploma, 1990',
       'High school diploma only, 1990',
       'Some college or associate's degree, 1990',
       'Bachelor's degree or higher, 1990',
       'Percent of adults with less than a high school diploma, 1990',
       'Percent of adults with a high school diploma only, 1990',
       'Percent of adults completing some college or associate's degree, 1990',
       'Percent of adults with a bachelor's degree or higher, 1990',
       'Less than a high school diploma, 2000',
       'High school diploma only, 2000',
       'Some college or associate's degree, 2000',
       'Bachelor's degree or higher, 2000',
       'Percent of adults with less than a high school diploma, 2000',
       'Percent of adults with a high school diploma only, 2000',
       'Percent of adults completing some college or associate's degree, 2000',
       'Percent of adults with a bachelor's degree or higher, 2000',
       'Less than a high school diploma, 2008-12',
       'High school diploma only, 2008-12',
       'Some college or associate's degree, 2008-12',
       'Bachelor's degree or higher, 2008-12',
       'Percent of adults with less than a high school diploma, 2008-12',
       'Percent of adults with a high school diploma only, 2008-12',
       'Percent of adults completing some college or associate's degree, 2008-12',
       'Percent of adults with a bachelor's degree or higher, 2008-12',
       'Less than a high school diploma, 2017-21',
       'High school diploma only, 2017-21',
       'Some college or associate's degree, 2017-21',
       'Bachelor's degree or higher, 2017-21',
       'Percent of adults with less than a high school diploma, 2017-21',
       'Percent of adults with a high school diploma only, 2017-21',
       'Percent of adults completing some college or associate's degree, 2017-21',
       'Percent of adults with a bachelor's degree or higher, 2017-21'],
      dtype='object')

## Bring in fips number/ merge with educ data

In [13]:
url = 'https://raw.githubusercontent.com/maxsohl/GSB521FinalProj/main/fips2county.csv'
fips_to_county = pd.read_csv(url)
fips_to_county['county'] = fips_to_county['CountyName']
fips_to_county['state'] = fips_to_county['StateAbbr']
fips_to_county['fips'] = fips_to_county['CountyFIPS']
fips_to_county = fips_to_county.loc[:, ['county', 'state','fips']]
fips_to_county

          county state   fips
0        Autauga    AL   1001
1        Baldwin    AL   1003
2        Barbour    AL   1005
3           Bibb    AL   1007
4         Blount    AL   1009
...          ...   ...    ...
3138  Sweetwater    WY  56037
3139       Teton    WY  56039
3140       Uinta    WY  56041
3141    Washakie    WY  56043
3142      Weston    WY  56045

[3143 rows x 3 columns]

### Merge fips_to_county with education_merged_df so can merge pop on fips

In [14]:
#Clean fips_to_county so it can be merged with education_merged_df
fips_to_county['county'] = fips_to_county['county'].str.lower()
fips_to_county['state'] = fips_to_county['state'].str.lower()
fips_to_county

          county state   fips
0        autauga    al   1001
1        baldwin    al   1003
2        barbour    al   1005
3           bibb    al   1007
4         blount    al   1009
...          ...   ...    ...
3138  sweetwater    wy  56037
3139       teton    wy  56039
3140       uinta    wy  56041
3141    washakie    wy  56043
3142      weston    wy  56045

[3143 rows x 3 columns]

In [15]:
def add_county(word):
    return f"{word} county"

fips_to_county['county'] = fips_to_county['county'].apply(add_county)


fips_to_county

                 county state   fips
0        autauga county    al   1001
1        baldwin county    al   1003
2        barbour county    al   1005
3           bibb county    al   1007
4         blount county    al   1009
...                 ...   ...    ...
3138  sweetwater county    wy  56037
3139       teton county    wy  56039
3140       uinta county    wy  56041
3141    washakie county    wy  56043
3142      weston county    wy  56045

[3143 rows x 3 columns]

In [16]:
#Merge fips and educ
education_merged_df_fips = pd.merge(education_merged_df, fips_to_county, on=['county','state'], how='left')
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 100)

In [17]:
#convert education_merged_df_fips['fips'] from float to int
education_merged_df_fips = education_merged_df_fips.dropna(subset=['fips'])
education_merged_df_fips['fips'] = education_merged_df_fips['fips'].astype(int)
education_merged_df_fips

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,date,time,year,county,Federal Information Processing Standard (FIPS) Code,State,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970","Four years of college or higher, 1970","Percent of adults with less than a high school diploma, 1970","Percent of adults with a high school diploma only, 1970","Percent of adults completing some college (1-3 years), 1970","Percent of adults completing four years of college or higher, 1970","Less than a high school diploma, 1980","High school diploma only, 1980","Some college (1-3 years), 1980","Four years of college or higher, 1980","Percent of adults with less than a high school diploma, 1980","Percent of adults with a high school diploma only, 1980","Percent of adults completing some college (1-3 years), 1980","Percent of adults completing four years of college or higher, 1980","Less than a high school diploma, 1990","High school diploma only, 1990","Some college or associate's degree, 1990","Bachelor's degree or higher, 1990","Percent of adults with less than a high school diploma, 1990","Percent of adults with a high school diploma only, 1990","Percent of adults completing some college or associate's degree, 1990","Percent of adults with a bachelor's degree or higher, 1990","Less than a high school diploma, 2000","High school diploma only, 2000","Some college or associate's degree, 2000","Bachelor's degree or higher, 2000","Percent of adults with less than a high school diploma, 2000","Percent of adults with a high school diploma only, 2000","Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2008-12","High school diploma only, 2008-12","Some college or associate's degree, 2008-12","Bachelor's degree or higher, 2008-12","Percent of adults with less than a high school diploma, 2008-12","Percent of adults with a high school diploma only, 2008-12","Percent of adults completing some college or associate's degree, 2008-12","Percent of adults with a bachelor's degree or higher, 2008-12","Less than a high school diploma, 2017-21","High school diploma only, 2017-21","Some college or associate's degree, 2017-21","Bachelor's degree or higher, 2017-21","Percent of adults with less than a high school diploma, 2017-21","Percent of adults with a high school diploma only, 2017-21","Percent of adults completing some college or associate's degree, 2017-21","Percent of adults with a bachelor's degree or higher, 2017-21",fips
0,2001-10-10 03:00:00,rockwell city,ia,us,triangle,240,4 min.s,Large&#44silent&#44slow&#44low to the ground d...,2002-07-01,42.3952778,-94.633611,2001-10-10,03:00:00,2001,calhoun county,19025.0,IA,Calhoun County,9.0,10.0,9.0,10.0,"3,740","3,319",951,627,43.3,38.4,11.0,7.3,"2,750","3,719","1,290",827,32.0,43.3,15.0,9.6,"1,694","3,459","1,952",932,21.1,43.0,24.3,11.6,"1,149","3,002","2,514","1,212",14.6,38.1,31.9,15.4,630,"2,756","2,509","1,388",8.7,37.8,34.5,19.1,423,"2,695","2,458","1,477",6.0,38.2,34.9,20.9,19025
1,2001-10-10 20:35:00,hayward,ca,us,circle,120,2/min.,FALLING STAR STOPS &#39SHOTS OUT DOZENS OF ...,2001-11-20,37.6688889,-122.079722,2001-10-10,20:35:00,2001,alameda county,6001.0,CA,Alameda County,1.0,1.0,1.0,1.0,"217,589","197,371","87,675","86,038",37.0,33.5,14.9,14.6,"162,536","215,093","148,837","151,045",24.0,31.7,22.0,22.3,"155,606","190,822","250,389","241,487",18.6,22.8,29.9,28.8,"168,281","181,668","270,813","332,954",17.6,19.0,28.4,34.9,"141,402","199,632","262,546","421,610",13.8,19.5,25.6,41.1,"131,272","198,825","271,096","592,670",11.0,16.7,22.7,49.6,6001
2,2001-10-10 21:15:00,ottumwa,ia,us,rectangle,300,3-5 minutes,We saw a square object at night&#44 which had...,2001-11-20,41.0041667,-92.373611,2001-10-10,21:15:00,2001,wapello county,19179.0,IA,Wapello County,5.0,8.0,5.0,8.0,"12,247","8,893","2,206","1,441",49.4,35.9,8.9,5.8,"8,784","10,639","3,186","2,487",35.0,42.4,12.7,9.9,"6,197","9,652","5,544","2,633",25.8,40.2,23.1,11.0,"4,462","9,616","6,529","3,513",18.5,39.9,27.1,14.6,"3,906","8,924","7,414","3,691",16.3,37.3,31.0,15.4,"2,885","8,786","7,765","4,586",12.0,36.6,32.3,19.1,19179
3,2001-10-10 21:30:00,fresno,ca,us,changing,900,15 min. apprx,Objects were sighted driving north on Highway ...,2001-11-20,36.7477778,-119.771389,2001-10-10,21:30:00,2001,fresno county,6019.0,CA,Fresno County,2.0,2.0,2.0,2.0,"100,900","59,798","30,997","21,697",47.3,28.0,14.5,10.2,"104,714","82,455","57,896","43,785",36.3,28.5,20.0,15.2,"130,252","83,536","106,640","65,308",33.8,21.7,27.6,16.9,"147,937","96,097","131,579","79,927",32.5,21.1,28.9,17.5,"148,450","123,605","167,607","105,942",27.2,22.7,30.7,19.4,"136,835","140,532","201,826","140,183",22.1,22.7,32.6,22.6,6019
4,2001-10-10 22:00:00,phoenix,az,us,triangle,60,less then a minute,Triangle shaped craft spotted flying west to e...,2001-11-20,33.4483333,-112.073333,2001-10-10,22:00:00,2001,maricopa county,4013.0,AZ,Maricopa County,1.0,1.0,1.0,1.0,"203,922","164,605","76,788","65,504",39.9,32.2,15.0,12.8,"220,040","307,465","192,183","161,232",25.0,34.9,21.8,18.3,"248,814","342,255","456,012","297,573",18.5,25.5,33.9,22.1,"338,591","446,445","649,040","500,881",17.5,23.1,33.5,25.9,"339,453","568,115","821,351","722,479",13.8,23.2,33.5,29.5,"326,737","644,940","950,635","1,006,096",11.2,22.0,32.5,34.4,4013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50853,2013-09-09 21:15:00,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.165833,-86.784444,2013-09-09,21:15:00,2013,davidson county,47037.0,TN,Davidson County,1.0,1.0,1.0,1.0,"119,190","69,791","24,065","29,291",49.2,28.8,9.9,12.1,"97,086","90,512","42,938","55,675",33.9,31.6,15.0,19.5,"81,073","90,234","82,646","81,852",24.1,26.9,24.6,24.4,"69,801","93,105","99,683","115,145",18.5,24.6,26.4,30.5,"59,351","103,024","110,461","146,971",14.1,24.5,26.3,35.0,"48,693","104,797","120,227","218,762",9.9,21.3,24.4,44.4,47037
50854,2013-09-09 22:00:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.613611,-116.202500,2013-09-09,22:00:00,2013,ada county,16001.0,ID,Ada County,2.0,2.0,2.0,2.0,"18,137","21,833","11,460","8,122",30.5,36.7,19.2,13.6,"17,805","33,351","24,528","21,475",18.3,34.3,25.2,22.1,"16,301","33,194","46,313","31,780",12.8,26.0,36.3,24.9,"17,377","43,535","68,930","58,820",9.2,23.1,36.5,31.2,"17,187","55,412","92,529","90,216",6.7,21.7,36.2,35.3,"16,433","68,936","110,566","134,694",5.0,20.8,33.4,40.7,16001
50855,2013-09-09 22:00:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,2013-09-30,38.297222,-122.284444,2013-09-09,22:00:00,2013,napa county,6055.0,CA,Napa County,3.0,2.0,3.0,2.0,"16,951","15,855","8,193","5,254",36.6,34.3,17.7,11.4,"15,542","21,539","14,834","11,210",24.6,34.1,23.5,17.8,"14,495","18,399","25,538","16,773",19.3,24.5,34.0,22.3,"16,455","17,223","28,110","22,150",19.6,20.5,33.5,26.4,"16,172","17,980","29,801","29,034",17.4,19.3,32.0,31.2,"14,541","17,698","29,842","36,464",14.8,18.0,30.3,37.0,6055
50856,2013-09-09 22:20:00,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.901111,-77.265556,2013-09-09,22:20:00,2013,fairfax county,51059.0,VA,Fairfax County,1.0,1.0,1.0,1.0,"48,526","71,955","39,161","69,293",21.2,31.4,17.1,30.3,"40,983","92,825","73,649","148,863",11.5,26.1,20.7,41.8,"46,562","91,675","137,320","264,673",8.6,17.0,25.4,49.0,"60,477","90,642","144,257","357,861",9.3,13.9,22.1,54.8,"61,889","98,316","148,081","429,065",8.4,13.3,20.1,58.2,"51,874","96,148","137,108","496,667",6.6,12.3,17.5,63.5,51059
50857,2013-09-09 23:00:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.652778,-97.477778,2013-09-09,23:00:00,2013,oklahoma county,40109.0,OK,Oklahoma County,1.0,1.0,1.0,1.0,"111,631","93,042","42,367","37,278",39.3,32.7,14.9,13.1,"87,996","116,547","66,027","64,125",26.3,34.8,19.7,19.2,"80,030","99,757","116,426","86,492",20.9,26.1,30.4,22.6,"73,548","109,475","131,022","106,778",17.5,26.0,31.1,25.4,"65,386","118,260","144,655","136,279",14.1,25.5,31.1,29.3,"59,864","127,327","155,471","174,202",11.6,24.6,30.1,33.7,40109

# Normalize number of sightings by county population with non census data

Source:https://www.ers.usda.gov/data-products/county-level-data-sets/county-level-data-sets-download-data/

In [18]:
url = 'https://raw.githubusercontent.com/maxsohl/GSB521FinalProj/main/PopulationEstimates.csv'
pop_df = pd.read_csv(url)
pop_df

,fips,state,county,Rural-Urban Continuum Code 2013,Population 1990,Population 2000,Population 2010,Population 2020,Population 2021
0,0,US,United States,NaN,"248,790,925","281,424,600","308,745,538","331,449,281","331,893,745"
1,1000,AL,Alabama,NaN,"4,040,389","4,447,207","4,779,736","5,024,279","5,039,877"
2,1001,AL,Autauga County,2.0,"34,222","43,751","54,571","58,805","59,095"
3,1003,AL,Baldwin County,3.0,"98,280","140,416","182,265","231,767","239,294"
4,1005,AL,Barbour County,6.0,"25,417","29,042","27,457","25,223","24,964"
...,...,...,...,...,...,...,...,...,...
3275,72145,PR,Vega Baja Municipio,1.0,"55,997","61,916","59,662","54,414","53,897"
3276,72147,PR,Vieques Municipio,7.0,"8,602","9,106","9,301","8,249","8,224"
3277,72149,PR,Villalba Municipio,2.0,"23,559","27,910","26,073","22,093","21,813"
3278,72151,PR,Yabucoa Municipio,1.0,"36,483","39,121","37,941","30,426","30,186"
3279,72153,PR,Yauco Municipio,2.0,"42,058","46,398","42,043","34,172","33,633"

In [19]:
print(pop_df.dtypes)

fips                                 int64
state                               object
county                              object
Rural-Urban Continuum Code 2013    float64
Population 1990                     object
Population 2000                     object
Population 2010                     object
Population 2020                     object
Population 2021                     object
dtype: object

In [20]:
print(education_merged_df_fips.dtypes)

datetime                                                                    datetime64[ns]
city                                                                                object
state                                                                               object
country                                                                             object
shape                                                                               object
                                                                                 ...
Percent of adults with less than a high school diploma, 2017-21                    float64
Percent of adults with a high school diploma only, 2017-21                         float64
Percent of adults completing some college or associate's degree, 2017-21           float64
Percent of adults with a bachelor's degree or higher, 2017-21                      float64
fips                                                                                 int64
Length: 71, dtype: object

In [21]:
pop_educ_alien_df = pd.merge(education_merged_df_fips, pop_df, on='fips', how='left')
pop_educ_alien_df

,datetime,city,state_x,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,date,time,year,county_x,Federal Information Processing Standard (FIPS) Code,State,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970","Four years of college or higher, 1970","Percent of adults with less than a high school diploma, 1970","Percent of adults with a high school diploma only, 1970","Percent of adults completing some college (1-3 years), 1970","Percent of adults completing four years of college or higher, 1970","Less than a high school diploma, 1980","High school diploma only, 1980","Some college (1-3 years), 1980","Four years of college or higher, 1980","Percent of adults with less than a high school diploma, 1980","Percent of adults with a high school diploma only, 1980","Percent of adults completing some college (1-3 years), 1980","Percent of adults completing four years of college or higher, 1980","Less than a high school diploma, 1990","High school diploma only, 1990","Some college or associate's degree, 1990","Bachelor's degree or higher, 1990","Percent of adults with less than a high school diploma, 1990","Percent of adults with a high school diploma only, 1990","Percent of adults completing some college or associate's degree, 1990","Percent of adults with a bachelor's degree or higher, 1990","Less than a high school diploma, 2000","High school diploma only, 2000","Some college or associate's degree, 2000","Bachelor's degree or higher, 2000","Percent of adults with less than a high school diploma, 2000","Percent of adults with a high school diploma only, 2000","Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2008-12","High school diploma only, 2008-12","Some college or associate's degree, 2008-12","Bachelor's degree or higher, 2008-12","Percent of adults with less than a high school diploma, 2008-12","Percent of adults with a high school diploma only, 2008-12","Percent of adults completing some college or associate's degree, 2008-12","Percent of adults with a bachelor's degree or higher, 2008-12","Less than a high school diploma, 2017-21","High school diploma only, 2017-21","Some college or associate's degree, 2017-21","Bachelor's degree or higher, 2017-21","Percent of adults with less than a high school diploma, 2017-21","Percent of adults with a high school diploma only, 2017-21","Percent of adults completing some college or associate's degree, 2017-21","Percent of adults with a bachelor's degree or higher, 2017-21",fips,state_y,county_y,Rural-Urban Continuum Code 2013,Population 1990,Population 2000,Population 2010,Population 2020,Population 2021
0,2001-10-10 03:00:00,rockwell city,ia,us,triangle,240,4 min.s,Large&#44silent&#44slow&#44low to the ground d...,2002-07-01,42.3952778,-94.633611,2001-10-10,03:00:00,2001,calhoun county,19025.0,IA,Calhoun County,9.0,10.0,9.0,10.0,"3,740","3,319",951,627,43.3,38.4,11.0,7.3,"2,750","3,719","1,290",827,32.0,43.3,15.0,9.6,"1,694","3,459","1,952",932,21.1,43.0,24.3,11.6,"1,149","3,002","2,514","1,212",14.6,38.1,31.9,15.4,630,"2,756","2,509","1,388",8.7,37.8,34.5,19.1,423,"2,695","2,458","1,477",6.0,38.2,34.9,20.9,19025,IA,Calhoun County,9.0,"11,508","11,114","9,670","9,927","9,915"
1,2001-10-10 20:35:00,hayward,ca,us,circle,120,2/min.,FALLING STAR STOPS &#39SHOTS OUT DOZENS OF ...,2001-11-20,37.6688889,-122.079722,2001-10-10,20:35:00,2001,alameda county,6001.0,CA,Alameda County,1.0,1.0,1.0,1.0,"217,589","197,371","87,675","86,038",37.0,33.5,14.9,14.6,"162,536","215,093","148,837","151,045",24.0,31.7,22.0,22.3,"155,606","190,822","250,389","241,487",18.6,22.8,29.9,28.8,"168,281","181,668","270,813","332,954",17.6,19.0,28.4,34.9,"141,402","199,632","262,546","421,610",13.8,19.5,25.6,41.1,"131,272","198,825","271,096","592,670",11.0,16.7,22.7,49.6,6001,CA,Alameda County,1.0,"1,304,347","1,443,705","1,510,271","1,682,353","1,648,556"
2,2001-10-10 21:15:00,ottumwa,ia,us,rectangle,300,3-5 minutes,We saw a square object at night&#44 which had...,2001-11-20,41.0041667,-92.373611,2001-10-10,21:15:00,2001,wapello county,19179.0,IA,Wapello County,5.0,8.0,5.0,8.0,"12,247","8,893","2,206","1,441",49.4,35.9,8.9,5.8,"8,784","10,639","3,186","2,487",35.0,42.4,12.7,9.9,"6,197","9,652","5,544","2,633",25.8,40.2,23.1,11.0,"4,462","9,616","6,529","3,513",18.5,39.9,27.1,14.6,"3,906","8,924","7,414","3,691",16.3,37.3,31.0,15.4,"2,885","8,786","7,765","4,586",12.0,36.6,32.3,19.1,19179,IA,Wapello County,5.0,"35,696","36,067","35,625","35,437","35,256"
3,2001-10-10 21:30:00,fresno,ca,us,changing,900,15 min. apprx,Objects were sighted driving north on Highway ...,2001-11-20,36.7477778,-119.771389,2001-10-10,21:30:00,2001,fresno county,6019.0,CA,Fresno County,2.0,2.0,2.0,2.0,"100,900","59,798","30,997","21,697",47.3,28.0,14.5,10.2,"104,714","82,455","57,896","43,785",36.3,28.5,20.0,15.2,"130,252","83,536","106,640","65,308",33.8,21.7,27.6,16.9,"147,937","96,097","131,579","79,927",32.5,21.1,28.9,17.5,"148,450","123,605","167,607","105,942",27.2,22.7,30.7,19.4,"136,835","140,532","201,826","140,183",22.1,22.7,32.6,22.6,6019,CA,Fresno County,2.0,"667,479","798,766","930,450","1,008,654","1,013,581"
4,2001-10-10 22:00:00,phoenix,az,us,triangle,60,less then a minute,Triangle shaped craft spotted flying west to e...,2001-11-20,33.4483333,-112.073333,2001-10-10,22:00:00,2001,maricopa county,4013.0,AZ,Maricopa County,1.0,1.0,1.0,1.0,"203,922","164,605","76,788","65,504",39.9,32.2,15.0,12.8,"220,040","307,465","192,183","161,232",25.0,34.9,21.8,18.3,"248,814","342,255","456,012","297,573",18.5,25.5,33.9,22.1,"338,591","446,445","649,040","500,881",17.5,23.1,33.5,25.9,"339,453","568,115","821,351","722,479",13.8,23.2,33.5,29.5,"326,737","644,940","950,635","1,006,096",11.2,22.0,32.5,34.4,4013,AZ,Maricopa County,1.0,"2,122,101","3,072,415","3,817,117","4,420,568","4,496,588"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49605,2013-09-09 21:15:00,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.165833,-86.784444,2013-09-09,21:15:00,2013,davidson county,47037.0,TN,Davidson County,1.0,1.0,1.0,1.0,"119,190","69,791","24,065","29,291",49.2,28.8,9.9,12.1,"97,086","90,512","42,938","55,675",33.9,31.6,15.0,19.5,"81,073","90,234","82,646","81,852",24.1,26.9,24.6,24.4,"69,801","93,105","99,683","115,145",18.5,24.6,26.4,30.5,"59,351","103,024","110,461","146,971",14.1,24.5,26.3,35.0,"48,693","104,797","120,227","218,762",9.9,21.3,24.4,44.4,47037,TN,Davidson County,1.0,"510,786","569,927","626,681","715,884","703,953"
49606,2013-09-09 22:00:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.613611,-116.202500,2013-09-09,22:00:00,2013,ada county,16001.0,ID,Ada County,2.0,2.0,2.0,2.0,"18,137","21,833","11,460","8,122",30.5,36.7,19.2,13.6,"17,805","33,351","24,528","21,475",18.3,34.3,25.2,22.1,"16,301","33,194","46,313","31,780",12.8,26.0,36.3,24.9,"17,377","43,535","68,930","58,820",9.2,23.1,36.5,31.2,"17,187","55,412","92,529","90,216",6.7,21.7,36.2,35.3,"16,433","68,936","110,566","134,694",5.0,20.8,33.4,40.7,16001,ID,Ada County,2.0,"205,775","300,953","392,365","494,967","511,931"
49607,2013-09-09 22:00:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,2013-09-30,38.297222,-122.284444,2013-09-09,22:00:00,2013,napa county,6055.0,CA,Napa County,3.0,2.0,3.0,2.0,"16,951","15,855","8,193","5,254",36.6,34.3,17.7,11.4,"15,542","21,539","14,834","11,210",24.6,34.1,23.5,17.8,"14,495","18,399","25,538","16,773",19.3,24.5,34.0,22.3,"16,455","17,223","28,110","22,150",19.6,20.5,33.5,26.4,"16,172","17,980","29,801","29,034",17.4,19.3,32.0,31.2,"14,541","17,698","29,842","36,464",14.8,18.0,30.3,37.0,6055,CA,Napa County,3.0,"110,765","124,344","136,484","138,019","136,207"
49608,2013-09-09 22:20:00,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.901111,-77.265556,2013-09-09,22:20:00,2013,fairfax county,51059.0,VA,Fairfax County,1.0,1.0,1.0,1.0,"48,526","71,955","39,161","69,293",21.2,31.4,17.1,30.3,"40,983","92,825","73,649","148,863",11.5,26.1,20.7,41.8,"46,562","91,675","137,320","264,673",8.6,17.0,25.4,49.0,"60,477","90,642","144,257","357,861",9.3,13.9,22.1,54.8,"61,889","98,316","148,081","429,065",8.4,13.3,20.1,58.2,"51,874","96,148","137,108","496,667",6.6,12.3,17.5,63.5,51059,VA,Fairfax County,1.0,"818,310","969,987","1,081,726","1,150,309","1,139,720"
49609,2013-09-09 23:00:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.652778,-97.477778,2013-09-09,23:00:00,2013,oklahoma county,40109.0,OK,Oklahoma County,1.0,1.0,1.0,1.0,"111,631","93,042","42,367","37,278",39.3,32.7,14.9,13.1,"87,996","116,547","66,027","64,125",26.3,34.8,19.7,19.2,"80,030","99,757","116,426","86,492",20.9,26.1,30.4,22.6,"73,548","109,475","131,022","106,778",17.5,26.0,31.1,25.4,"65,386","118,260","144,655","136,279",14.1,25.5,31.1,29.3,"59,864","127,327","155,471","174,202",11.6,24.6,30.1,33.7,40109,OK,Oklahoma County,1.0,"599,611","660,581","718,633","796,292","798,575"

In [30]:
county_count_df = pop_educ_alien_df.groupby(['fips']).size().reset_index(name='count')
county_count_df
county_count_merged_df = pd.merge(county_count_df, pop_educ_alien_df[['fips', 'latitude', 'longitude ']], on=['fips'], how='left')
county_count_merged_df
#county_count_merged_df = county_count_merged_df.drop_duplicates(subset=['county'])
#county_count_merged_df

        fips  count    latitude  longitude
0       1001      4  32.4638889  -86.459722
1       1001      4  32.4638889  -86.459722
2       1001      4  32.4638889  -86.459722
3       1001      4  32.4638889  -86.459722
4       1003     40  30.2458333  -87.700833
...      ...    ...         ...         ...
49605  56041      7  41.2683333 -110.962500
49606  56041      7  41.2683333 -110.962500
49607  56041      7   41.316667 -110.383611
49608  56043      2  44.0169444 -107.954722
49609  56043      2  44.0169444 -107.954722

[49610 rows x 4 columns]

# Geo heatmap of number of sightings in each county

In [23]:
county_count_df = education_merged_df.groupby(['state', 'county']).size().reset_index(name='count')
county_count_merged_df = pd.merge(county_count_df, education_merged_df[['county', 'state', 'latitude', 'longitude ']], on=['county', 'state'], how='left')
county_count_merged_df = county_count_merged_df.drop_duplicates(subset=['county'])
county_count_merged_df

KeyError: "['county', 'state'] not in index"

In [ ]:
#Still need to change the colors, scope, normalize pop, etc
map = folium.Map(location=[37,-96], zoom_start=4)
heatmap = HeatMap(county_count_merged_df[['latitude', 'longitude ', 'count']].values.tolist(), radius=10, max_val=50)
heatmap.add_to(map)
map

Prof reccomended https://nbviewer.org/ to show interactive notebooks